*{
    border: 1px solid #0008;
}

html{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    width: 100%;
    background-color: #a0b0e0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-item{
    text-decoration: none;
    color: inherit;
    padding: 10px;
}
.nav-item:hover{
    background-color: #ccddff;
}