*{
    /* border: 1px solid #0008; */
}

html{
    font-family: tahoma, sans-serif;
}

body{
    margin: 0;
    height: 100vh;
    /* overflow: hidden; */
}

.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
}

.nav-item{
    text-decoration: none;
    color: inherit;
    padding: 10px;
    margin: 0 10px;
}
.nav-item:hover{
    text-decoration: underline;
}

.searchcontainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchbar{
    border: 1px solid grey;
    border-radius: 25px;
    margin: 10px;
    min-width: 500px;
    padding: 5px 15px;
    outline: none;
}
.searchbar:hover, .searchbar:focus{
    box-shadow: 0 0 2px #777;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.searchbtn{
    background-color: #f4f4f4;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.searchbtn:hover{
    cursor: pointer;
    box-shadow: 0 0 2px #777;
}

.advancedbtn{
    background-color: #5566FF;
    color: #FFF
}

label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avancedcontainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}